.App {
  background-color: cadetblue;
  width: 100%;
}

.mainContainer {
  width: 100%;
  padding: 1rem;
}

.headerContainer {
  text-align: center;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  color: rgb(9, 57, 146);
  margin-bottom: 1rem;
}
